@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1120px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 6px 10px 6px rgba(255, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  height: 79px;
  margin-bottom: 30px;
}

.logo {
  margin-left: -30px;
  width: 100px;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding-left: 10px;
  margin: 10px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.6);
}

.nav-items > ul > li:hover {
  cursor: pointer;
}

.login-btn {
  width: 80px;
  margin-left: 20px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.add-btn {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.body {
  min-height: calc(100vh - 151px);
  height: 100%;
}

.search,
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin: 10px;
  padding: 10px;
  width: 300;
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 5px;
}

.search-bar:focus {
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.2);
  outline: none;
}

.search-btn {
  width: 80px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.res-container,
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn {
  margin: 10px;
  padding: 6px;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-btn:hover,
.login-btn:hover,
.search-btn:hover,
.add-btn:hover {
  box-shadow: 0px 0px 10px 2px rgba(255, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.6);
}

.res-card {
  height: 290px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 10px;
}

.res-card > h3 {
  font-size: 16px;
}

.res-card > p {
  font-size: 14px;
}

.res-card:hover {
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(255, 0, 0, 0.2);
}

.res-logo {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.res-meta,
.res-menu-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars-high {
  width: 55px;
  font-weight: 500;
  background-color: rgba(0, 255, 68, 0.3);
  padding: 3px 6px;
  border-radius: 5px;
}

.stars-low {
  width: 55px;
  background-color: rgba(255, 247, 0, 0.3);
  padding: 3px 6px;
  border-radius: 5px;
}

.breaker {
  font-weight: 900;
  margin: 0px auto;
}
.shimmer-card {
  width: 200px;
  height: 290px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(144, 144, 144, 0.2);
  border-radius: 10px;
}

.shimmer-img {
  height: 150px;
  width: 100%;
  background-color: rgba(144, 144, 144, 0.2);
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.shimmer-desc {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(144, 144, 144, 0.2);
}

.footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.res-menu-card {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  height: 200px;
  padding: 0px 20px;
  margin-bottom: 40px;
}

.res-menu-card > img {
  height: 100%;
  width: 200px;
}

.res-menu-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
}

.res-menu-desc > div > h1 {
  margin-bottom: 10px;
}

.res-menu-meta {
  width: 230px;
}

.menu-items {
  margin: 10px 0px;
  border-bottom: 1px solid rgba(225, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.menu-items:hover {
  box-shadow: 0px 10px 6px rgba(225, 0, 0, 0.1);
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
